#pogrubienie_Smula
{
font-size:30px;
  color: #9A5CC9;
}
#pochylona_Smula
{
  font-size: 35pt;
  color: #FEC065;
}
#index_gorny_Smula
{ 
  font-size: 1cm;
  color: #AE8E15;
}
#index_dolny_Smula
{ 
  font-size: 1.5cm;
  color: #4AF2DD;
}
#mono_Smula
{ 
  font-size: 40px;
  color: #2EDEDD;
}
#powiekszenie_Smula
{  
color: #683E97;
}
#pomniejszenie_Smula
{
color: rgb(80%,56%,20%);
}
